<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <!--Added external css and js files -->
  <link rel="stylesheet" href="css/home/homeStyle.css" />
  <link rel="stylesheet" href="css/feed/feedStyle.css" />
  <link rel="stylesheet" href="css/feed/range.css" />

  <title>teachFeed</title>
</head>

<body id="indexBody">




  <!-- For navbar (navigation menu)-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/templates/index.html">teachFeed</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/templates/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.davietjal.org/" target="_blank"> DAV Institute of Engineering and
              Technology</a>
          </li>

        </ul>
        <form class="d-flex">

          <a href="/templates/index.html" role="button" target="_blank" class="btn btn-outline-primary m-2 my-sm-0">
            Logout </a>
        </form>
      </div>
    </div>
  </nav>

  <!--displaying logo here -->

  <!--<div class="container" id="indexLogo" >
    <a href="https://www.davietjal.org/" target="_blank">
      <img src="/static/img/davietlogo.png" width="25%" height="25%" />
    </a>
  </div>-->

  <!--Displaying form here-->

  <!-- <div class="container" id="accessCode">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div> -->

  <div class="container"  id="">
    <form id="regForm" action="">

      <h1 style="text-align:center;">Feedback:</h1>
      <hr />

      <!-- One "tab" for each step in the form: -->
      <!--<div class="tab">Name:
        <p><input placeholder="First name..." oninput="this.className = ''"></p>
        <p><input placeholder="Last name..." oninput="this.className = ''"></p>
      </div>-->

      <div class="tab mb-3">
        <h5><em>Enter basic Details</em></h5>
        <hr />
        <label for="branch">Choose Your Branch:</label>
        <select name="branch" id="branch">
          <option value="none">---</option>
          <option value="it">IT</option>
          <option value="cse">CSE</option>
          <option value="ece">ECE</option>
          <option value="ce">CE</option>
          <option value="me">ME</option>
          <option value="bca">BCA</option>
          <option value="bcom">B.COM</option>
          <option value="BBA">BBA</option>
          <option value="mba">MBA</option>
        </select>
        <br><br>
        <label for="depTeach">Department of teacher:</label>
        <select name="depTeach" id="depTeach">
          <option value="none">---</option>
          <option value="it">IT</option>
          <option value="cse">CSE</option>
          <option value="ece">ECE</option>
          <option value="ce">CE</option>
          <option value="me">ME</option>
          <option value="bca">BCA</option>
          <option value="bcom">B.COM</option>
          <option value="BBA">BBA</option>
          <option value="mba">MBA</option>
        </select>
        <br><br>
        <label for="teacherName">Teacher's name:</label>
        <select name="teacherName" id="teacherName">
          <option value="none">---</option>
          <option value="teacher1">Teacher1</option>
          <option value="teacher2">Teacher2</option>
        </select>
        <br><br>
        <label for="sem">Semester:</label>
        <select name="sem" id="sem">
          <option value="none">---</option>
          <option value="s1">1st</option>
          <option value="s2">2nd</option>
          <option value="s3">3rd</option>
          <option value="s4">4th</option>
          <option value="s5">5th</option>
          <option value="s6">6th</option>
          <option value="s7">7th</option>
          <option value="s8">8th</option>
        </select>
        <br><br>
        <label for="subject">Subject:</label>
        <select name="subject" id="subject">
          <option value="none">---</option>
          <option value="subject1">subject1</option>
          <option value="subject2">subject2</option>
        </select>
        <br><br>
      </div>

      <!--<div class="tab">Contact Info:
        <p><input placeholder="E-mail..." oninput="this.className = ''"></p>
        <p><input placeholder="Phone..." oninput="this.className = ''"></p>
      </div>-->

      <div class="tab mb-3">
        <label for="" class="form-label">1: There was positive interaction between students and teachers ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10" style="width:25%"><span> (1-10)</span>
        <br />
        <label for="" class="form-label">2: Soft skill of subject in-charge in handling of contents ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10"
          style="width:25%"><span> (1-10)</span>
        <br />
        <label for="" class="form-label">3: Online learning materials /notes provided by the subject in-charge in enchancing my understanding of the subject ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10"
          style="width:25%"><span> (1-10)</span>
        <br />
        <label for="" class="form-label">4: The teacher thoroughly answered the students questions ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10" style="width:25%"><span> (1-10)</span>
        <br />
      
      </div>


      <!--<div class="tab">Birthday:
        <p><input placeholder="dd" oninput="this.className = ''"></p>
        <p><input placeholder="mm" oninput="this.className = ''"></p>
        <p><input placeholder="yyyy" oninput="this.className = ''"></p>
      </div>-->

      <div class="tab mb-3">
        <label for="" class="form-label">5: There was positive interaction between students and teachers ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10" style="width:25%"><span> (1-10)</span>
        <br />
        <label for="" class="form-label">6: Quality of work was emphasized more than quatity ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10"
          style="width:25%"><span> (1-10)</span>
        <br />
        <label for="" class="form-label">7: You were encouraged to do extra reading about the course material ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10"
          style="width:25%"><span> (1-10)</span>
        <br />
        <label for="" class="form-label">8: The teacher gave assignments that were useful for learning subject matter ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10" style="width:25%"><span> (1-10)</span>
        <br />
      
      </div>

      <!--<div class="tab">Login Info:
        <p><input placeholder="Username..." oninput="this.className = ''"></p>
        <p><input placeholder="Password..." oninput="this.className = ''"></p>
      </div>-->

      <div class="tab mb-3">
        <label for="" class="form-label">9: Student were free to interrupt presentations if points needed clarification ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10" style="width:25%"><span> (1-10)</span>
        <br />
        <label for="" class="form-label">10: The MST's were appropriately framed covering all topics of syllabus ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10"
          style="width:25%"><span> (1-10)</span>
        <br />
        <label for="" class="form-label">11: Lectures were held regularly and on time ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10"
          style="width:25%"><span> (1-10)</span>
        <br />
        <label for="" class="form-label">12: Students were introduced regarding certifications /Registrations for MOOC's based online course .</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10" style="width:25%"><span> (1-10)</span>
        <br />
      
      </div>

      <div class="tab mb-3">
        <label for="" class="form-label">13: Students were introduced with the relevent information on "Vitual Labs" for the course ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10" style="width:25%"><span> (1-10)</span>
        <br />
        <label for="" class="form-label">14: course curriculum is updated completely ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10"
          style="width:25%"><span> (1-10)</span>
        <br />
        <label for="" class="form-label">15: All the contemporary topics related to fields are discussed thoroughly ?</label><br />
        <input type="number" id="quantity" name="quantity" min="1" max="10"
          style="width:25%"><span> (1-10)</span>
        <br />
        
      
      </div>

      <div class="tab mb-3">
        <label for="" class="form-label">1: 1: Bless to have this teacher ?</label><br />
        <select name="bless" id="bless">
          <option value="none">---</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <br />
        <label for="" class="form-label">2: Teacher is very cooperative ?</label><br />
        <select name="cooperative" id="cooperative">
          <option value="none">---</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <br />
        <label for="" class="form-label">3: Very helpful and cooperative teacher ?</label><br />
        <select name="helpful" id="helpful">
          <option value="none">---</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <br />
      </div>

      <div style="overflow:auto;">
        <div style="float:right;">
          <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
          <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
      </div>

      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>

    </form>
  </div>



  <!--<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <span class="text-muted text-light bg-dark">Credits: Lovish {B.Tech (I.T.)} & Sakshi {B.Tech (C.S.E.)}</span>
    </div>
  </footer>-->







  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  <!-- Added external javascript here-->

  <script src="js/feed/feedScript.js"></script>
  <script src="js/feed/range.js"></script>



</body>

</html>